#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    height: 440px;
    width: 440px;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #minute, #second{
    position:  absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;

}
#hour{
    width: 1.5%;
    height: 27.5%;
    top: 24%;
    left: 49.5%;
    opacity: 0.8;
    
    


}
#minute{
    width: 1%;
    height: 31.5%;
    top: 20.2%;
    left: 49.5%;
    opacity: 0.8;
    
    

}
#second{
    width: 0.5%;
    height: 34.5%;
    top: 17%;
    left: 50%;
    opacity: 0.8;
    
    

}